IO_LOC "clk" 52;
IO_PORT "clk" PULL_MODE=UP;
IO_LOC "rst_n" 3;

IO_LOC "led[0]" 10;
IO_LOC "led[1]" 11;
IO_LOC "led[2]" 13;
IO_LOC "led[3]" 14;
IO_LOC "led[4]" 15;
IO_LOC "led[5]" 16;

IO_LOC "tx_pin" 25;
IO_PORT "tx_pin" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "rx_pin" 26;
IO_PORT "rx_pin" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "spi_sda" 27;
IO_PORT "spi_sda" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "spi_dc" 28;
IO_PORT "spi_dc" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "spi_rst" 29;
IO_PORT "spi_rst" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "spi_scl" 42;
IO_PORT "spi_scl" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
